
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model System.Data.DataTable
@using System.Data;



@using (Html.BeginForm("Index", "Upload", null, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="info2">
        <h2>Browse File for uploading</h2>
        @Html.AntiForgeryToken()

        <div class="form-group" name="Fichier1">
            <!-- COMPONENT START -->
            <div class="form-group">
                <div class="input-group input-file">
                    <span class="input-group-btn">
                        <button class="btn btn-default btn-choose" type="button">Choose</button>
                    </span>
                    <input type="text" class="form-control" placeholder='Choose a file...' />

                </div>
            </div>
            @*<input type="file" id="dataFile" name="upload" />*@

        </div>

        <div class="form-group">
            <input type="submit" value="Upload" class="btn btn-default" />
        </div>


        <div class="alert alert-danger">
            @Html.ValidationSummary()
            @*<strong></strong> asdasd*@
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $("table1").DataTable();
    });
</script>
